/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here. Must be same as the margin-bottom above */
  height: 100px;
  background-color: #222222;
  /*background-color: #f5f5f5;*/
  text-align: center;
}

.welcomeImage {
  max-width: 50%;
  margin: 1em auto;
}

@media(max-width:767px){
  .welcomeImage {
    max-width: 80%;
    margin: 1em auto;
}
}

.container .text-muted {
  margin: 20px 0;	
}

.contents{
	display: none;
	overflow: hidden
}

.noBorderThumb{
	border: none;
}

.degree-text{
  margin-left: 0.5em;
}

.name {
    padding-bottom: 9px;
    margin: 0px 0 20px;
    border-bottom: 1px solid #eee;
}

span.encrypted::after{
  content: " - (click to decrypt)";
  font-style: italic;
}

.emailBottom
{
    float: none;
    display: table-cell;
    vertical-align: bottom;
}
